<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="bpmntest.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="bpmntest.Perspective"
            id="bpmnTest.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.bpmn2.modeler.ui.editor.BPMN2MultiPageEditor"
            contributorClass="org.eclipse.ui.part.MultiPageEditorActionBarContributor"
            default="false"
            icon="icons/alt_launcher.ico"
            id="bpmnTest.editor1"
            name="bpmnEditor">
      </editor>
   </extension>

</plugin>
